<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AWOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="ShowAllMenu">
    <!--

        
    
    
    
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown ha</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    
    
    -->
    <ul class="nav nav-pills">
      <li class="nav-item  ">
        <a [ngClass]="{'nav-link':true,'active':isHome ,'text-secondary':true }" [routerLink]="['/loginok/']">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a [ngClass]="{'nav-link':true, 'dropdown-toggle':true,'active':isBaseLine ,'text-secondary':true }" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="true" aria-expanded="false">
          BaseLine Info</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/baseline/entrepreneur']">Entrepreneur</a>
          <a class="dropdown-item" [routerLink]="['/baseline/enterprise']">Enterprise</a>
          <a [hidden]="!hideAssociation" class="dropdown-item" [routerLink]="['/baseline/cooperative']">Cooperative</a>
          <a [hidden]="hideAssociation" class="dropdown-item" [routerLink]="['/baseline/association']">Association</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a [ngClass]="{'nav-link':true, 'dropdown-toggle':true,'active':isVisits ,'text-secondary':true }" id="navVisits" data-toggle="dropdown"
          href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Visits</a>
        <div class="dropdown-menu">

          <a class="dropdown-item" [routerLink]="['/visits/enterprise']">Enterprise</a>
          <a [hidden]="!hideAssociation" class="dropdown-item" [routerLink]="['/visits/cooperative']">Cooperative</a>
          <a [hidden]="hideAssociation" class="dropdown-item" [routerLink]="['/visits/association']">Association</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a [ngClass]="{'nav-link':true, 'dropdown-toggle':true,'active':isActionPlan ,'text-secondary':true }" id="navAction"
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Action Plan</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['actionplans/enterprises']">Enterprise</a>
          <a [hidden]="!hideAssociation" class="dropdown-item"
            [routerLink]="['actionplans/cooperatives']">Cooperative</a>
          <a [hidden]="hideAssociation" class="dropdown-item" [routerLink]="['actionplans/association']">Association</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a [ngClass]="{'nav-link':true, 'dropdown-toggle':true,'active':isTraining,'text-secondary':true }" id="navTraining"
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Training</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['training/entrepreneurs']">Entrepreneurs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-secondary" id="navTraining" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false" href="#">
          Reports</a>
        <div class="dropdown-menu" aria-lableledby="navTraining">
          <a class="dropdown-item" [routerLink]="['/report/dashboard']">Dashboard</a>
          <div class="dropdown-header">Enterprises</div>
          <a class="dropdown-item" [routerLink]="['/report/JobsCreated']">Jobs Created</a>
          <!--<a class="dropdown-item" [routerLink]="['/report/JobsSustained']">Jobs Sustained</a>-->
          <a class="dropdown-item" [routerLink]="['/report/AgeGroup']">Age Group </a>
          <!--<a class="dropdown-item" [routerLink]="['/report/Creatingmorejobs']">Creating more jobs</a>-->
          <!--<a class="dropdown-item" [routerLink]="['/report/CompletingTrainings']">Completing Trainings</a>-->
          <a class="dropdown-item" [routerLink]="['/report/AgevsRevenue']">Female Owners Vs Male Owners</a>
          <a class="dropdown-item" [routerLink]="['/report/Creatingmorejobs']">Income Expense</a>

          <a class="dropdown-item" [routerLink]="['/report/Housing']">Premise Ownership %</a>
          <a class="dropdown-item" [routerLink]="['/report/OwnerNumberVsEmployeeNumbers']">Owner Number Vs Employee
            Numbers</a>
          <div class="dropdown-header">Trainings</div>
          <!--<a class="dropdown-item" [routerLink]="['/report/OutstandingTrainings']">Outstanding Trainings</a>-->
          <a class="dropdown-item" [routerLink]="['/report/LevelofEducation']">Level of Education</a>
          <a class="dropdown-item" [routerLink]="['/report/MostPopularTraining']">Most Popular Training</a>


        </div>
      </li>
      <li class="nav-item">
        <a [hidden]="hideAdminSection" [ngClass]="{'nav-link':true,'active':isAdmin ,'text-secondary':true }"
          [routerLink]="['/admin']">Settings</a>
      </li>
      <li class="nav-item dropdown navbar-right">
        <a [ngClass]="{'nav-link':true, 'dropdown-toggle':true ,'text-secondary':true }" id="navTraining" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="true" aria-expanded="false">
          Current country: {{currentCountry}} </a>
        <div class="dropdown-menu">
          <a class="dropdown-item text-secondary" *ngFor="let co of countryList$ | async as Country;let i=index"
            (click)="changeCountry(co,i)">{{co.Country_Name}}</a>
        </div>
      </li>
      <li class="nav-item navbar-right">
        <a class="nav-link text-secondary" href="#">Log Out</a>
      </li>
    </ul>

  </div>
</nav>
<pgs-progress-bar></pgs-progress-bar>
<div *ngIf="showError">
  <div class="alert alert-dismissible alert-danger" (click)="showError=false">{{ErrorMessage}}</div>
</div>