<div class="card border-primary mb-3">
  <div class="card bg-primary text-white">List Entrepreneur </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="control-group">
          <label class="control-label" for="txtSurname">Surname</label>
          <div class="controls">
            <input [(ngModel)]="search.Surname" id="txtSurname" name="txtSurname" type="text" placeholder="" ngClass="form-control">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="control-group">
          <label class="control-label" for="txtYear_Established">Name</label>
          <div class="controls">
            <input [(ngModel)]="search.Name" id="txtName" name="txtName" type="text" placeholder="" ngClass="form-control">
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-xs-8 col-md-8">
         
      </div>
      <div class="col-xs-4 col-md-4">
        <button (click)="searchClickint()" type="button" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
  </div>
</div>