<form [formGroup]="loanEdit">
  <div class="row">
    <div class="col-6">
      <div class="control-group">
        <label class="control-label" for="txtWhere_Apply">Lender’s Name</label>
        <div class="controls">
          <input formControlName="Where_Apply" name="Where_Apply" type="text" placeholder="Bank Name" ngClass="form-control">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="txtAmount_Issued"> Actual Amount Received</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R</span>
          </div>
          <input formControlName="Amount_Issued" appNumberOnly id="txtAmount_Issued" name="txtAmount_Issued" type="text" placeholder="0.00"
            ngClass="form-control numbersOnly">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="txtRepay_Amount">Loan Amount Outstanding</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R</span>
          </div>
          <input formControlName="Amount_Outstanding" appNumberOnly id="txtAmount_Outstanding" name="txtAmount_Outstanding" type="text"
            placeholder="0.00" ngClass="form-control numbersOnly">
        </div>
      </div>


    </div>
    <div class="col-6">
      <div class="control-group">
        <label class="control-label" for="txtApproved">Have you applied for a Loan before</label>
        <div class="controls">
          <mat-slide-toggle formControlName="Approved" id="txtApproved" name="txtApproved"></mat-slide-toggle>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="txtRepay_Amount">Instalment Amount</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R</span>
          </div>
          <input formControlName="Repay_Amount" appNumberOnly id="txtRepay_Amount" name="txtRepay_Amount" type="text" placeholder="0.00"
            ngClass="form-control numbersOnly">
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="addnewFinance()" [ngClass]="{'btn':true,'btn-primary':loanEdit.valid  }" [disabled]="!loanEdit.valid">Add</button>
  </div>
</form>