<div> 
  <table class="table table-hover">
    <thead>
      <tr>
         
        <th scope="col">Lender’s Name</th>
        <th scope="col">Actual Amount Received</th>
        <th scope="col">Loan Amount Outstanding</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table w-100" *ngFor="let row of rows;let i=index" (click)="onActivate(i)"  >
        <th scope="row" >{{row.Where_Apply}}</th> 
        <td  >{{row.Amount_Issued}}</td>        
        <td  >{{row.Amount_Outstanding }}</td> 
      </tr> 
    </tbody>
  </table> 
</div> 