<div> 
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Where_Apply</th>
        <th scope="col">Approved</th>
        <th scope="col">Reject Reason</th> 
        <th scope="col">Amount</th>        
        <th scope="col">Started Repay</th> 
        <th scope="col">Repay Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table w-100" *ngFor="let row of rows;let i=index" (click)="onActivate(i)"  >
        <th scope="row" >{{row.Where_Apply}}</th>
        <td  >{{row.Approved | fixboolYN}}</td>
        <td  >{{row.Reject_Reason}}</td> 
        <td  >{{row.How_Much}}</td>        
        <td  >{{row.Started_Repay | fixboolYN}}</td>
        <td  >{{row.Repay_Amount}}</td>
      </tr> 
    </tbody>
  </table> 
</div> 