
<div *ngIf="!IsEditing;else editTemplate">
    <app-search-baseline-entrepreneur-entrepreneur
    (SearchClick)="searchClick($event)"
    (NewClick)="NewClick()"
    [hidAdd]="true"
    [Heading]="Training"
    ></app-search-baseline-entrepreneur-entrepreneur>
    <div>
      <ngx-datatable
      class="bootstrap"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [selected]="selected"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
         
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'>
      </ngx-datatable>
    </div>
    </div>
    <ng-template #editTemplate>
      <!-- Put Edit template in -->
      <app-edit-training-entrepreneurs-entrepreneurs [entrepreneur]="EntrepreneurEditItem" 
      (SaveItem)="onReload($event)"
      [TrainingList]="TrainingList"
      [ActiveEDFs]="ActiveEDFs">
    </app-edit-training-entrepreneurs-entrepreneurs>
    </ng-template>
    