<div *ngIf="showloading; else editform ">
  <mat-spinner></mat-spinner>
</div>

<ng-template #editform>


  <form [formGroup]="user">
      <div class="row">
          <div class="col-xs-6 col-md-6">
             
             
          </div>
          <div class="col-xs-6 col-md-6">
            <button *ngIf="EwepserverService.SelectedUserCanEdit" [ngClass]="{'btn':true,'btn-primary':user.valid  }" [disabled]="!user.valid" (click)="Save()">Save</button>
            <button class="btn " (click)="Back()">Back</button>
          </div>
        </div>
    <tabset type="pills" class="bg-info">
      <tab heading="General Information" class="mt-2">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="card border-light mb-3" [formGroup]="General">
              <!--- General Information Start  -->

              <div class="card-header">General Information</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of GeneralQuestions" [question]="question" [form]="General"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
          </div>
          <div class="col-xs-6 col-md-6" [formGroup]="Employees">
            <div class="card border-light mb-3">
              <!--- General Information Start  -->

              <div class="card-header">No of Female Full Time (Employees)</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of EmployeesFemaleQuestions" [question]="question" [form]="Employees"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
            <div class="card border-light mb-3">
              <!--- General Information Start  -->

              <div class="card-header">No of Male Full Time (Employees)</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of EmployeesMaleQuestions" [question]="question" [form]="Employees"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
            <div class="card border-light mb-3">
              <!--- General Information Start  -->

              <div class="card-header">No of Female Part Time</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of EmployeesFemalePayQuestions" [question]="question" [form]="Employees"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
            <div class="card border-light mb-3">
              <!--- General Information Start  -->

              <div class="card-header">No of Male Part Time</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of EmployeesMalePayQuestions" [question]="question" [form]="Employees"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
            <div class="card border-light mb-3">
              <!--- General Information Start  -->

              <div class="card-header">Number of people in age range</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of EmployeesQuestions" [question]="question" [form]="Employees"></app-gen-boot-ui>

              </div>
              <!--- </app-gen-boot-ui> General Information end  -->
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Cooperative Details" class="mt-2" [formGroup]="Finance" >
        <div class="row">
          <div class="col-xs-6 col-md-6">
              <div class="card border-light mb-3">
                  <!--- Source of Startup Funds  -->
    
                  <div class="card-header">Source of Startup Funds</div>
                  <div class="card-body" >
    
                    <app-gen-boot-ui *ngFor="let question of Funds" [question]="question" [form]="Finance"></app-gen-boot-ui>
    
                  </div>
                  <!---  Source of Startup Funds end  -->
                </div>
          </div>
          <div class="col-xs-6 col-md-6">            
            <div class="card border-light mb-3">
              <!--- Source of Startup Funds  -->

              <div class="card-header">Access to Markets</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of AccessToMarket" [question]="question" [form]="Finance"></app-gen-boot-ui>

              </div>
              <!---  Source of Startup Funds end  -->
            </div>
            <div class="card border-light mb-3">
              <!--- Source of Startup Funds  -->

              <div class="card-header">Access to Technical Skills</div>
              <div class="card-body" >

                <app-gen-boot-ui *ngFor="let question of AccessToTechnicalSkills" [question]="question" [form]="Finance"></app-gen-boot-ui>

              </div>
              <!---  Source of Startup Funds end  -->
            </div>
            
          </div>
        </div>
      </tab>
      <tab heading="Debt" class="mt-2"   >
        <div class="row">
          <div class="col-12">
            <div class="card border-light mb-3">
              <!--- Source of Startup Funds  -->

              <div class="card-header">Loan  </div>
              <div class="card-body" >
                <app-edit-loans-baseline-enterprise 
                [finance]="newFinanceLoan" ></app-edit-loans-baseline-enterprise>
                <div class="row">
                  <button class="btn btn-primary" (click)="addnewFinance()">Add</button>
                </div>
                <app-list-loans-baseline-enterprise [rows]="FinanceLoans" (ItemClick)="financeRowClick($event)"></app-list-loans-baseline-enterprise>
              </div>
              <!---  Source of Startup Funds end  -->
            </div>
          </div>
          <div class="col-6">
            
          </div>
        </div>
      </tab>
    </tabset>
  </form>
</ng-template>
