<div>
  <div class="card text-white bg-info mb-3">
      <!--- Base line Start  -->

      <div class="card-header">Cooperative Visits </div>
      <div class="card-body" >
          <div class="row">
            <div class="col-8">
              {{cooperative.Cooperative_Name}}
            </div>
          </div>
          <div class="row">
              <div class="col-8">
                
              </div>
              <div class="col-4">
                  <button class="btn btn-primary" (click)="addVisit()"> Add Visit</button>
                </div>
            </div>
      </div>
      <!--- Base line end  -->
    </div>
</div>
<div *ngIf="blistShow;else EditVisit">

<ngx-datatable
class="bootstrap"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
   
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'>
</ngx-datatable>
</div>
<ng-template #EditVisit>
<div>
  <app-editfrm-visits-cooperative (backButton)="backtoList()" [(VisitData)]="cooperative_visit"></app-editfrm-visits-cooperative>
</div>
</ng-template>