
 
<div class = "container">
	<div class="wrapper">
			{{diagnostic}}
		<form  #login="ngForm"  class="form-signin">       
		    <h3 class="form-signin-heading"> <pre> </pre>Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  
			  <input [(ngModel)]="user.Username" type="text" class="form-control" name="Username" placeholder="Username" required autofocus="" />
			  <input [(ngModel)]="user.Password" type="password" class="form-control" name="Password" placeholder="Password" required/>     		  
			 
			  <button (click)="onClick()" [ngClass]="{'btn':true ,'btn-lg':true, 'btn-primary':login.form.valid ,'btn-block':true}" [disabled]="!login.form.valid" name="Submit" value="Login"  >Login</button>  			
			  <div class="row" *ngIf="user.showError">
					<div class="alert alert-dismissible alert-danger">
							 
							<strong>Error with login</strong> {{user.Error}}
						  </div>
			  </div>
		</form>			
	</div>
</div>
 