<div class="card border-primary mb-3">
    <div class="card bg-primary text-white">List Cooperative - {{Heading}}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <div class="control-group">
                    <label class="control-label" for="txtYear_Established">Cooperative  Name</label>
                    <div class="controls">
                      <input [(ngModel)]="search.Name" id="txtName" name="txtName" type="text" placeholder="Name"
                        ngClass="form-control">
                    </div>
                  </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="control-group">
                    <label class="control-label" for="txtYear_Established">Year Started</label>
                    <div class="controls">
                      <input [(ngModel)]="search.Year_Established" id="txtYear_Established" name="txtYear_Established" type="text" placeholder="Year"
                        ngClass="form-control">
                    </div>
                  </div>
            </div>
            <div class="col-xs-4 col-md-4"> 
                <button (click)="searchClickint()" type="button" class="btn btn-primary">
                    Search
                  </button> 
        
            </div>
          </div>
    </div>
    <div class="card-footer" *ngIf="!hidAdd">
        <button type="button" class="btn btn-primary" (click)="addClick()">
            Add Cooperative
          </button>
      </div>
</div>