<div class="card border-primary mb-3">
    <div class="card bg-primary text-white">List Entrepreneur - {{Heading}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="control-group">
            <label class="control-label" for="txtYear_Established">Entrepreneur Name or Surname</label>
            <div class="controls">
              <input [(ngModel)]="search.Name" id="txtName" name="txtName" type="text" placeholder="Name" ngClass="form-control">
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          
        </div>
        <div class="col-xs-4 col-md-4">
          <button (click)="searchClickint()" type="button" class="btn btn-primary">
            Search
          </button>
  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="control-group">
            <label class="control-label" for="txtProvince">Province </label>
            <div class="controls">
              <mat-form-field>
                <mat-select [(ngModel)]="search.Province" name="txtProvince">
                  <mat-option value="Select">Select</mat-option>
                  <mat-option *ngFor="let province of Provinces" [value]="province.Province_ID">{{province.Province_Name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
           
        </div>
        <div class="col-xs-4 col-md-4">
  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-4">
           
        </div>
        <div class="col-xs-4 col-md-4">
          
        </div>
        <div class="col-xs-4 col-md-4">
  
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="!hidAdd">
      <button type="button" class="btn btn-primary" (click)="addClick()">
          Add Entrepreneur
        </button>
    </div>
</div>